[Unit]
Description=Game Server
After=network.target

[Service]
# The Node.js executable is now in a standard system path
ExecStart=/usr/bin/node %APP_DIR%/dist/server/game-server.js
Restart=always
User=ec2-user
Environment=NODE_ENV=production
WorkingDirectory=%APP_DIR%

[Install]
WantedBy=multi-user.target
