[Unit]
Description=Game Server

[Service]
ExecStart=/usr/bin/node /home/ec2-user/game-server/server/game-server.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/game-server

[Install]
WantedBy=multi-user.target
